<style type="text/css">

.map-info-window h2 {
	font-weight: bold;
	font-size:15px;
	margin-top:0;
	margin-bottom:3px;
}
.map-info-window em {
	font-size:0.86em;
	}
.map-info-window textarea {
	width:95%;
	height:50px;
	overflow:auto;
}
.map-info-window p {
	font-size: 9px;
}
.map-info-window textarea {
	background: #fff;
	color: #333;
	border: 1px solid black;
	padding: 3px;
}
</style>
<div id="<BINDING:UNIQUE_ID>">
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<BINDING:GOOGLE_MAPS_KEY>"
  type="text/javascript"></script>
<div id="<BINDING:UNIQUE_ID>-map" %_TAG_ATTRIBUTES_% ></div>
<script type="text/javascript">

	jQuery(document).ready(function() {
		console.log("initializing assetMap on ready...");
		var <BINDING:BINDING_NAME> = new GoogleMap('<BINDING:UNIQUE_ID>', '<BINDING:BINDING_NAME>');
		<BINDING:BINDING_NAME>.setAssets([<BINDING_LOOP:ASSETS><BINDING:ASSET><TMPL_UNLESS __IS_LAST__>,
</TMPL_UNLESS></BINDING_LOOP:ASSETS>
		]);
		<BINDING:BINDING_NAME>.render();
	});
</script>
</div>
